html, body {
    background-color: #E0F4FD;
    font-family:'Roboto', sans-serif;
}

.team-heading {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    color:  #E0F4FD;
}

.team-heading h1 {
    text-transform: uppercase;
}

.jumbotron {
    border-radius: 0; 
}

.card-header {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);;
    color:  #E0F4FD;
}

.cardSection {
    color: #2A3B42;
}

a {
    color: #B66100;
}

